h1 {
    text-align: center;
    border-style: double;
   
  }
  
  h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    
  }
  
  body {
    background-color: rgb(236, 255, 236);
  }
  p {
  
    font-size: 15px;
  }
  
  hr.solid {
    border-top: 2px solid #358f80b0;
  }
  
  #datetime {
    color: #2c7165;
    size: 2px;
  }
  
  main{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .navbar ul{
    list-style-type: none;
    background-color: #739e82;
    background: linear-gradient(90deg, #081c15 0%, #226d53 35%, rgb(236, 255, 236) 100%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
  }
  .navbar a{
    color: rgb(236, 255, 236);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color:#2c5530;
  }
  .navbar li{
    display: inline-block;
  }
  button {
    padding: 10px;
    margin-left: 10px;
    background-color: #4caf96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #38848a;
  }
#font-selector {
  padding: 10px;
    margin-left: 5px;
    background-color: #4caf96;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

  #font-selector:hover{
    background-color: #307579d0
  }

.container {
  position: relative;
}


.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #307579d0;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

